<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheet/about/style.css">
</head>
<body>
    <div class="window">
        <h1 id="title">About Dominican Republic</h1>
        <div id="img">
        <img src="../images/accessible-holidays-in-the-dominican-republic-banner.jpg"/>
        </div>
        <p id="info">Dominican Republic is the second largest and most diverse Caribbean country, situated just two hours south of Miami, less than four hours from New York and eight hours from most European cities. Known for our warm and hospitable people, Dominican Republic is a destination like no other, featuring astounding nature, intriguing history and rich culture.</p>
       <div class="buttons"><a href="/">
        <button>Go back home</button>
        </a>
        </div>
    </div>
</body>
</html>