<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div><h1>Monuments in Dominican Republic</h1></div>
    <div>
    <img src="../images/faro a colon.jpeg" alt="Faro A Colon">
    <h3>Faro a Colon</h3>
    </div>  

    <div>
        <img src="../images/skyline.jpeg" alt="Plaza de la Bandera">
        <h3>Plaza de la Bandera</h3>
    </div>

    <div>
        <img src="../images/monument santiago.jpeg"alt="Monumento de Santiago">
        <h3>Monumento de Santiago</h3>
    </div>
</body>
</html>